<div class="password-protected-login">
    <div class="password-container">
        <div class="content">
            <h1 class="reveal-in">Welcome.</h1>
            <div class="reveal-in-slow">
                <p>This is a protected page for wholesale.</p>
                <p>Please enter the password to proceed.</p>
                <div class="flex">
                    <div>
                        <input type="text" id="ppl-password" placeholder="Password" />
                        <div class="ppl-error">The password is not correct.</div>
                    </div>
                    <div>
                        <div id="ppl-submit-button">Submit</div>
                    </div>
                </div>
                <a href="/" class="return">Return to the homepage</a>
            </div>
        </div>
    </div>
</div>

<script>
    const passwordInput = document.querySelector('#ppl-password')
    const passwordSubmit = document.querySelector('#ppl-submit-button')
    const passwordContainer = document.querySelector('.password-protected-login')
    const passwordError = document.querySelector('.ppl-error')
    const verifyPassword = () => {
        passwordInput.value.toLowerCase() === 'filosowholesale' ?
            (
                passwordContainer.classList.add('hide'),
                setTimeout(() => {
                    passwordContainer.style.display = 'none'
                }, 500)
            ) :
            passwordError.classList.add('show')
    }
    passwordSubmit.addEventListener('click', () => verifyPassword())
    passwordInput.addEventListener('keypress', (e) => {
        e.keyCode === 13 && verifyPassword()
    })
</script>