<div class="faqs-container">
    <h1 class="text-center">Frequently Asked Questions</h1>
    <p class="text-center">Click on some of the most frequently asked questions below to see if we have your answer.</p>
    
    <!-- FAQ Shipping -->
    <div class="accordion-container">
        <h2 class="section-title">Questions about shipping</h2>
        <p class="main-info">
            Within the continental United States, flat rate shipping is $4.95 and delivered in 4-8 business days. Priority shipping is available for $7.95 with delivery in 3-6 business days.
            If you live in Alaska or Hawaii, we offer USPS first-class mail for $4.95 and USPS priority mail shipping for $7.95.
            Please know that shipping is busier than usual and the entire shipping industry is facing unprecedented challenges and delays. This is causing a worldwide slowdown in deliveries.
            Unfortunately, these delays are out of our control. We continuously monitor this situation and update delivery estimates on our checkout page accordingly.
            You'll receive your tracking number as soon as your order ships.
        </p>
        <div class="accordion" id="accordionPanelsStayOpenExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                    When will my order ship?
                </button>
              </h2>
              <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                <div class="accordion-body">
                    <p>
                        Due to the closure of many brick-and-mortar stores and ongoing shipping and supply chain constraints, fulfillment centers and shipping carriers are busier than usual.
                        Please allow 2-3 business days for your order to process and ship, then the full estimated delivery window for receipt. Thank you for your patience and understanding
                    </p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                    Do you offer auto-ship subscriptions?
                </button>
              </h2>
              <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
                <div class="accordion-body">
                    <p>
                        We do not auto-ship or offer any product subscriptions. Order only what you want, when you want through our online Filoso store.
                    </p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                    Do you ship internationally?
                </button>
              </h2>
              <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
                <div class="accordion-body">
                    <p>
                        Currently, we are only able to ship within the United States.
                    </p>
                </div>
              </div>
            </div>
          </div>
    </div>



    <!-- FAQ Products -->
    <div class="accordion-container">
        <h2 class="section-title">Questions about Filoso products</h2>
        <div class="accordion" id="accordionPanelsStayOpenExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="panelsStayOpen-headingOne-product">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne-product" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne-product">
                    Are Filoso products for all hair types?
                </button>
              </h2>
              <div id="panelsStayOpen-collapseOne-product" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne-product">
                <div class="accordion-body">
                    <p>
                        Absolutely. Filoso products are designed with a formula sheer enough to allow for any hair type to reap the benefits of our Filoso hairstyling products.
                        Experiment with different amounts of Filoso hairstyling products to achieve fuller, healthy hair, customized specifically for you. The best way to know for sure is to try it for yourself!
                        We guarantee all of our products—if you are not satisfied for any reason, we'll give you a full refund minus shipping.
                    </p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="panelsStayOpen-headingTwo-product">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo-product" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo-product">
                    Is Filoso sold in stores?
                </button>
              </h2>
              <div id="panelsStayOpen-collapseTwo-product" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo-product">
                <div class="accordion-body">
                    <p>
                        Filoso is not sold in any retail stores. As a family-owned e-commerce business, the best place to buy our products is on the FILOSO STORE
                        If you're concerned about buying products online, read on…
                    </p>
                    <p>
                        First, we have an amazing refund policy: we stand by our products 100%! If you are not completely satisfied with your order, we will give you a full refund minus shipping.
                        Second, we have all kinds of fantastic information about our products. Visit the Filoso store where you can watch our videos, read about each product, and check out the ingredients.
                        So you can be sure that what you see is what you get.
                    </p>
                    <p>
                        If you have any questions, please reach out to us by email, live chat or phone.
                    </p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="panelsStayOpen-headingThree-product">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree-product" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree-product">
                    Are your products tested on animals or, do they have any harmful ingredients?
                </button>
              </h2>
              <div id="panelsStayOpen-collapseThree-product" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree-product">
                <div class="accordion-body">
                    <p>
                        We guarantee that all of our products and ingredients are cruelty-free and have not been tested on animals.
                        Also, our products are made without phthalates, parabens, binders, or added ingredients.
                    </p>
                    <p>
                        We are very proud of the quality of our products and take the greatest care with selection and manufacturing.
                        If you have any questions, just reach out to us by email, live chat, or phone!
                    </p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingFour-product">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour-product" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour-product">
                    What is the shelf life of Filoso, how long will my Filoso products last?
                </button>
                </h2>
                <div id="panelsStayOpen-collapseFour-product" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFour-product">
                  <div class="accordion-body">
                    <p>
                        Your Filoso is made with pure ingredients to reach you in peak condition.
                        Once your Filoso reaches you, it has what's called a "shelf life." That's how long it will last, sealed and unopened.
                        We suggest ordering your Filoso when you need it to minimize the time in storage. We also recommend keeping any unopened Filoso in a cool, dry place until you’re ready to use it.
                        The shelf life for your Filoso is listed below:
                    </p>
                    <h3>Hair products</h3>
                    <ul>
                        <li>Filoso Sea Salt Spray 12M</li>
                        <li>Filoso Clay pomade 12M</li>
                        <li>Filoso hair pomade 12M</li>
                        <li>Filoso Hairstyling powder 12M</li>
                    </ul>
                    <h3>Filoso Tools</h3>
                    <ul>
                        <li>Filoso Razor Blades Shelf life is infinite</li>
                        <li>Filoso Safety Razor Shelf life is infinite</li>
                        <li>Filoso Turkish Razor Shelf life is infinite</li>
                        <li>Filoso Barber Straight Edge Razor Shelf life is infinite</li>
                    </ul>
                    </p>
                  </div>
                </div>
              </div>
          </div>
    </div>




    <!-- FAQ Shipping -->
    <div class="accordion-container">
        <h2 class="section-title">Questions about Filoso tools</h2>
        <div class="accordion" id="accordionPanelsStayOpenExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingOne-tools">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne-tools" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne-tools">
                    Do Filoso razor blades fit in any razor holder?
                </button>
                </h2>
                <div id="panelsStayOpen-collapseOne-tools" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne-tools">
                <div class="accordion-body">
                    <p>
                        Yes, Filoso razor blades fit in any type of razor holder as long as you crack the blade in half or keep it in its entirety for its respected razor blade holder.
                    </p>
                </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingTwo-tools">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo-tools" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo-tools">
                    My Filoso Turkish razor seems to be stuck, why is that?
                </button>
                </h2>
                <div id="panelsStayOpen-collapseTwo-tools" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo-tools">
                <div class="accordion-body">
                  <p>
                      Turkish razors our paint coated meaning, they are painted with Powder coating which provides better performance than wet paint—it is more resistant to chipping, scratching, and other wear because of the thermal bonding it undergoes during curing, and because it can be applied in much thicker layers.
                      Powder coating is a color-finishing technique in which powder is used in lieu of paint.
                  </p>
                  <p>
                      Powder coating finishes can last up to 20 years, but due to the consistent use, exposure to UV light, and outdoor environment may break it down faster.
                  </p>
                </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingThree-tools">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree-tools" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree-tools">
                    HOW DO I BECOME A BRAND AMBASSADOR?
                </button>
                </h2>
                <div id="panelsStayOpen-collapseThree-tools" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree-tools">
                <div class="accordion-body">
                    <p>
                        This is a special invite-only, however, if you feel like you have what it takes please feel free to email us at <a href="mailto:contact@filosobarberbrand.com">contact@filosobarberbrand.com</a>
                    </p>
                </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingFour-tools">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour-tools" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour-tools">
                  DO YOU OFFER WHOLESALE TO BARBERSHOPS?
                </button>
                </h2>
                <div id="panelsStayOpen-collapseFour-tools" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFour-tools">
                <div class="accordion-body">
                  <p>
                    Currently, we do offer wholesaling to barbershops only on our hairstyling products, not our Filoso tools or Filoso aftershave. Please give us a call if you are a 
                    barbershop and would like to retail filoso products <a href="tel:7026052019">702.605.2019</a>.
                  </p>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>